[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "<=4.0.0"
coverage = "*"
pytest-cov = "*"
flake8 = "*"
pre-commit = "*"

[packages]
pymongo = "*"
py-linq = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
